
.bg-gradient-login {
    background-color: #f3e2e6;
    background-image: linear-gradient(180deg, #c5c5e3 10%, #eaf2ff 100%);
    background-size: cover;
}



.bg-white {
    background-color: #8b265763!important;
}

.text-gray-600 {
    color: #ffffff!important;
}


.card_login {
    border-radius: 28px;
}


.system_title {
    color: #312f92 !important;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px !important;
}

.slogan {
    font-size: large;
    font-style: italic;
}


.text-center {
    text-align: left !important;
}


.login_title {
    font-size: 30px;
}


a.collapse-item {
    color: white !important;
}


.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
    color: black !important;
}



.bx-primary{
    background-color: #0061f2;
}
.bx-primary-wrn{
    background-color: #f4a100;
}

.bx-primary-green{
    background-color: #00ac69;
}
.bx-primary-red{
    background-color:  #e81500;
}

.cstm_wdth_col{
    flex: 1 0 17.66667% !important;
    max-width: 19.66667% !important;
}

.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 3px !important;
}
.custom-margin-left {
    margin-left: 10px; /* Adjust the value as needed */
}

.bg-primary-color { background-color: #313082 !important; }

/* table */

.dataTables_wrapper .dataTables_length { padding: 4px; }
.dataTables_wrapper select{ padding: 10px; border-radius: 0.35rem;}
.dataTables_filter input[type="search"] {
   padding: 10px;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dataTables_filter input[type="search"]:focus { border: #0061f2 1px solid; }
table.dataTable thead th, table.dataTable thead td { padding: 15px 18px !important;}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 14px 10px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: linear-gradient(to bottom, #8B2657 0%, #8B2638 100%) !important   ;
    color: white !important;
}
.table.dataTable { width: 100% !important; border: 1px solid #e0e5ec; }
table.dataTable thead th, table.dataTable thead td{ border-bottom: none;}
.table.dataTable.no-footer{border-bottom: 1px solid #e0e5ec ;}
.dataTables_wrapper td.text-center a.btn {
    margin-right: 5px;
}
.dataTables_wrapper td.text-center a.btn:first-child {
    margin-left: 5px;
}

#userInfoBody p {
    margin-bottom: 5px; /* Adjust the margin as needed */
 }
 .u_information_added_label i {
    font-style: italic;
}
.u_information_added_label .badge {
    /* Add any additional styles for the badge */
    font-size: 0.8em;
    padding: 0.2em 0.5em;
}
.user-information-container {
    max-width: 100%;
    margin-left: auto;
}
#userInfoBody p #userEmail{ text-transform:none !important;}
.subheading {
    flex: 1;
}
.value {
    margin-left: 10px;
}
.bg-blight { background-color: #548fcf!important; }
.bg-glight { background-color: #388f86!important; }
.bg-brown { background-color: #795548!important; }



.badge-custom-purple {
    background-color: rgb(228 192 209 / 87%);
    color: #000 !important;
}
.badge-custom-purple .text-gray-500 {
    color: #858796 !important;
}
.bg-gray { background-color: #50565a; }


@media only screen and (max-width: 767px) {
    .dataTables_wrapper  { overflow-x: auto !important; }
}

.buttons-pdf{
    display: inline-block;
  font-weight: 400;
  color: #858796;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background-color: #8B2657 !important;
}
#getdate {
    text-align: center;
    color: #0061f2;
    font-size: 16px;
}

.form-check-input{
    --bs-form-check-bg:var(--bs-body-bg);
    flex-shrink:0;
    width:1em;
    height:1em;
    margin-top:.25em;
    vertical-align:top;
    background-color:var(--bs-form-check-bg);background-image:var(--bs-form-check-bg-image);background-repeat:no-repeat;background-position:center;background-size:contain;border:var(--bs-border-width) solid var(--bs-border-color);-webkit-print-color-adjust:exact;color-adjust:exact;print-color-adjust:exact}
    .form-check-input[type=checkbox]{border-radius:.25em}
    .form-check-input:focus{border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}
    .form-check-input:checked{background-color:#0d6efd;border-color:#0d6efd}
    .form-check-input:checked[type=checkbox]{--bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")}
    .form-check-input[type=checkbox]:indeterminate{background-color:#0d6efd;border-color:#0d6efd;--bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
    }

#dischargeModalLabel {
    color:#3374BA;
}
.dislabel {
    padding: 15px 0px;
}
.text-purple{
    color: #2a0134;
}
.chkboxdisplaynone {
    display: none;
 }
 .upcomming-date {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
 }
 .buttons-pdf{
    margin-bottom: 28px;
 }
 .faperson-icon {
    font-size: 19px;
    color: #891652;
 }
 .faperson-disabled {
    font-size: 19px;
    color: #891652;
 }
 #districtWiseAdmitionForm .labeltext {
    padding: 5px 0 0 40px;
}

.maptext {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    fill: #78310a;
}
.maptext tspan {
    font-size: 18px;
    fill: #f45600;
}

